body {
    font-family: 'Source Sans Pro', sans-serif;
    background-image: url("img/fundo-b.png");
    background-repeat: repeat;
    }

  /*Menu*/

    header {
    background: #62b761a8;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding: 10px 0px;
        border-bottom: 1px solid rgb(104, 104, 104);
}

.link {
    color: #3f3b3b;
    text-decoration: none;
    border-radius: 5px;
    padding: 10px  0px ;
    position: relative;
    left: 13px;
    top: 9px;
    font-size: 25px;
} 

nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    bottom: 7px;
    right: 5px;
}

 .link-top {
       
    color: #3f3b3b;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0px 10px;
}

a:hover {
      color: #fff;
    
    }

                    /*Corpo*/
    
    
main {
        margin-top: 68px;
    }
    
    .im1 {
background-image: url("img/img-fundo.jpg");
height: 250px;
width: 100%;
display: flex;
justify-content: center;
align-items: center;

}


    .todos-quartos {
        display: flex;
        justify-content: center;
        height: 300px;
        width: 100%;
        align-items: center;
        flex-direction: column;
        font-size: 20px;

    }
    
    .todos-quartos h2 {
        text-transform: uppercase;
    }

      /* Quartos */

      .cont-pai {
        display: flex;
        justify-content: space-around;
        margin: 0px 5px;
        
    }
.quartos{
padding: 0px 6px;
}

    .quartos img {
        width: 445px;
        height: 350px;
        padding: 0px 2px;
       
    }

    .info-quartos ul {
     display: flex;
     justify-content: space-around;
     align-items: center;
     height: 100px;
     
    }

    .info-quartos ul li {
        padding: 0px;

    }

    .info-quartos p {
        text-align: center;
        padding: 20px;
        font-size: 22px;
    }




    /*Rodapé*/

footer { 
    background: rgb(75, 104, 46); 
height: 150px;
margin-top: 50px;
}
    
    .rodape-pai {
        display: flex;
        align-items: center;
        flex-direction: row;
        color: #fff;
        justify-content: space-around;
    }

    .box {
        display: flex;
      align-items: center;
      padding: 10px;
    
        
        
    } 
    .box a {
        text-decoration: none;
        color: #fff;
    }

    .rodape-img {
        align-items: center;
        padding-right: 10px;
    } 
    
    .copy {
        font-size: 14px;
        color: #fff;
        text-align: center;
        margin: 24px;
        border-top: 1px solid rgb(27 47 34 / 49%);
        margin-top: 0px;
        padding-top: 21px;
    }

    
    